body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.notif{
  position: absolute;
}

.notification-badge {
  position:relative;
  padding:5px 5px 5px;
  background-color: #fa668be1;
  color: #ffffff;
  bottom: 15px;
  left: 15px;
  border-radius: 100%;
}

.card-one {
  transition: transform .5s;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.card-one:after {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
  content: '';
  opacity: 0;
  z-index: -1;
  padding: 50px 50px 50px 50px;
}

.card-one:hover,
.card-one:focus {
  transform: scale3d(1.006, 1.006, 1);
}

.card-one:hover:after {
  opacity: 1;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.089), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
}

.rwt__tabs[data-rwt-vertical="true"] {
  display: flex;
}


.rwt__tablist[aria-orientation="vertical"] {
  display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	border-right: 1px solid #ddd;
	margin-right: 1rem;
}

.rwt__tab {
	background: transparent;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	padding: 1rem 2rem;
  transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.rwt__tab[aria-selected="false"]:hover,
.rwt__tab:focus {
  outline: 0;
  background-color: #f4f4f4;
	background-color: rgba(0,0,0,0.05);
}

.rwt__tab[aria-selected="true"] {
	position: relative;
}

.rwt__tab[aria-selected="true"]:after {
	content: '';
	position: absolute;
}


.rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
  right: -2px;
  top: 0;
  height: 100%;
  border-right: 3px solid #00d8ff;
}

